{%load entry_tags %}
{% load thumbnail %}
{% for entry in entries %}
				<div class="post">

					<p><a href="#">{% thumbnail entry.content|getimages "185x100" crop="80% top" as im %}
    <img src="{{ im.url }}" class="bordered" />
{% endthumbnail %}</a></p>

					<h3><a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark" >{{ entry.title }}</a></h3>

					<p>{{entry.excerpt}}</p>

					<a href="{{ entry.get_absolute_url }}" class="more">全文 &#187;</a>

				</div>

				<div class="content-separator"></div>
{% endfor %}